# ---- Python ----
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# ---- 虚拟环境 ----
venv/
.venv/
env/

# ---- IDE / 编辑器 ----
.vscode/
.idea/

# ---- Streamlit ----
.streamlit/secrets.toml

# ---- 操作系统 / 临时文件 ----
Thumbs.db
.DS_Store
*.log
